TRAEFIK_DOMAIN=
SUBDOMAIN=wiki
CONTAINER_NAME=mediawiki
DB_TYPE=mysql
DB_NAME=
DB_USER=
DB_PASSWD=
DB_ROOT_PASSWD=

# Local path to where to store database
DB_DIR=
# Local path to where to store uploaded files
IMAGES_DIR=